<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Video</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <script>
        async function downloadVideo() {
            let button = document.getElementById("download-button");
            let spinner = document.getElementById("download-spinner");
            button.textContents = "Downloading";
            spinner.classList.remove("hidden");
            spinner.classList.add("animate-spin");

            let name = button.dataset.videoName;

            await fetch(`/video/${name}/download`, {
                method: 'GET'
            })
            .then(response => {
                if (response.ok) {
                    document.getElementById("success").classList.remove("hidden");
                    button.classList.add("hidden");
                }
                return response;
            })
            .catch((error) => {
                console.error('Error: ', error);
                document.getElementById("error").classList.remove("hidden");
            });
        }
    </script>
</head>
<body>
    <div>git
        Requesting info took <span th:text="${requestTime}"></span> ms
        <p th:text="${video.name}"/>
        <p>Duration: <span th:text="${video.duration}"/> s</p>
        <p>Size: <span th:text="${video.size}"/> Kb</p>
        <button type="button" id="download-button" onclick="downloadVideo()" th:attr="data-video-name=${video.name}"
                class="inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-green-600 hover:bg-green-500 focus:border-green-700 active:bg-green-700 transition ease-in-out duration-150">
            <svg id="download-spinner" class="hidden -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
            Download
        </button>
        <div id="success" class="hidden">Download successful!</div>
        <div id="error" class="hidden">Download successful!</div>
    </div>

</body>
</html>